@import "vars"
@import "fonts"

*
    box-sizing: border-box
body
    +reg
.container
    max-width: 1721px
    width: 96%
    margin: auto
    position: relative
.button-hover
    background-color: $button-bg
    padding: 32px 64px
    border-radius: 100px
    border: none
    color: $text
    cursor: pointer
    font-size: 22px
    line-height: 30px
    margin-right: 93px


.navbar
    padding-bottom: 100px
    z-index: 1
    @media ( max-width: 720px )
        padding-bottom: 70px
    &-block
        display: flex
        justify-content: space-between
        align-items: center
        &__button
            align-items: center
            display: flex
            padding: 14px 28px
            border-radius: 83px
            border: none
            color: $text
            font-size: 22px
            line-height: 30px
            background-color: $button-bg
            +reg
            @media ( max-width: 500px )
                display: none
            img
                margin-right: 10px
        &__icons
            a
                margin-left: 24px
                &:first-child
                    margin-left: 0


.header
    padding: 70px 0 300px 0
    @media ( max-width: 720px )
        padding: 0
    &-block
        display: flex
        justify-content: space-between
    &-text
        flex-basis: 50%
        @media ( max-width: 1700px )
            flex-basis: 100%
        &__title
            font-size: 128px
            line-height: 128px
            color: $title
            +bold
            margin: 0 0 50px 0
            @media ( max-width: 720px )
                font-size: 50px
                line-height: 55px
                margin-bottom: 20px
            @media ( max-width: 450px )
                font-size: 30px
                line-height: 35px
                
        &__desc
            font-size: 22px
            line-height: 30px
            opacity: 0.65
            color: $title
            margin-bottom: 95px
            display: block
            @media ( max-width: 720px )
                font-size: 16px
                line-height: 22px
                margin-bottom: 50px
    &-buttons
        align-items: center
        display: flex
        @media ( max-width: 600px )
            flex-direction: column
        &__button
            font-size: 22px
            line-height: 30px
            color: $button-bg
            border: none
            background-color: #fff
            margin-right: 93px
            @media ( max-width: 600px )
                font-size: 16px
                margin: auto
                margin-bottom: 40px

            &:last-child
                margin-right: 0               
.button-phone
    align-items: center
    display: inline-flex
    margin: 0
    @media ( max-width: 600px )
        flex-direction: column-reverse
    img
        margin-right: 12px
.header
    &-image
        @media ( max-width: 1700px )
            display: none
        &__img
            img
                position: absolute
                top: -300px
                right: -220px
                z-index: -1

    &-desc
        @media ( max-width: 1700px )
            display: none
        position: absolute
        top: 0
        right: 0
        background-color: $desc-bg
        border-radius: 32px
        padding: 32px 
        max-width: 294px
        max-height: 294px
        &__title
            font-size: 36px
            line-height: 40px
            color: $text
            +bold
            margin: 0 0 14px 0
        &__subtitle
            font-size: 22px
            line-height: 30px
            color: rgba(255, 255, 255, 0.65)
            display: flex
            margin-bottom: 45px