* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
}

.container {
  max-width: 1721px;
  width: 96%;
  margin: auto;
  position: relative;
}
@media (max-width: 720px) {
  .container {
    width: 90%;
  }
}

.button-hover {
  background-color: #093cb5;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  line-height: 30px;
  margin-right: 93px;
  padding: 32px 64px;
  border-radius: 100px;
  border: none;
  transition: 0.2s;
}
@media (max-width: 720px) {
  .button-hover {
    padding: 20px 50px;
    margin-right: 20px;
  }
}
@media (max-width: 600px) {
  .button-hover {
    font-size: 16px;
    margin: auto;
    margin-bottom: 40px;
  }
}

.section-title {
  font-size: 96px;
  line-height: 100px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.navbar {
  padding-bottom: 100px;
  padding-top: 70px;
  z-index: 1;
}
@media (max-width: 720px) {
  .navbar {
    padding-bottom: 70px;
    padding-top: 40px;
  }
}
@media (max-width: 450px) {
  .navbar {
    padding-bottom: 50px;
    padding-top: 20px;
  }
}
.navbar-menu {
  background-color: #093cb5;
  border-radius: 40px;
  padding: 35px 57px;
  padding-top: 75px;
  margin: 0;
  display: none;
  top: 0;
  left: 0;
  text-align: center;
  position: absolute;
}
@media (max-width: 720px) {
  .navbar-menu {
    padding: 35px 14px;
    padding-top: 65px;
  }
}
.navbar-menu__item {
  list-style: none;
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  min-width: 120px;
}
.navbar-menu__item:last-child {
  margin-bottom: 0;
}
.navbar-menu__item a {
  text-decoration: none;
  color: #fff;
  padding: 0;
}
@media (max-width: 720px) {
  .navbar-menu__item a {
    font-size: 18px;
  }
}
.navbar-menu__item a:hover {
  color: #00ff37;
  transition: 0.2s;
}
.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-block__menu {
  display: flex;
  position: relative;
  z-index: 1;
}
@media (max-width: 500px) {
  .navbar-block__menu {
    display: none;
  }
}
.navbar-block__button {
  align-items: center;
  display: flex;
  padding: 14px 72px;
  border-radius: 83px;
  border: none;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  margin: auto;
  background-color: #093cb5;
  cursor: pointer;
  z-index: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (max-width: 720px) {
  .navbar-block__button {
    font-size: 18px;
    padding: 14px 35px;
  }
}
.navbar-block__button img {
  margin-right: 10px;
}
.navbar-block__icons a {
  margin-left: 24px;
}
.navbar-block__icons a:first-child {
  margin-left: 0;
}

.active {
  display: block;
}

.header {
  padding: 70px 0 360px 0;
}
@media (max-width: 720px) {
  .header {
    padding: 0;
  }
}
.header-block {
  display: flex;
  justify-content: space-between;
}
.header-text {
  flex-basis: 50%;
}
@media (max-width: 2200px) {
  .header-text {
    flex-basis: 100%;
  }
}
.header-text__title {
  font-size: 128px;
  line-height: 128px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 0 0 50px 0;
}
@media (max-width: 1200px) {
  .header-text__title {
    font-size: 70px;
    margin-bottom: 75px;
    line-height: 90px;
  }
}
@media (max-width: 720px) {
  .header-text__title {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .header-text__title {
    font-size: 35px;
    line-height: 45px;
  }
}
@media (max-width: 450px) {
  .header-text__title {
    font-size: 30px;
    line-height: 35px;
  }
}
.header-text__desc {
  font-size: 22px;
  line-height: 30px;
  opacity: 0.65;
  color: #000;
  margin-bottom: 95px;
  display: block;
}
@media (max-width: 720px) {
  .header-text__desc {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 50px;
  }
}
.header-buttons {
  align-items: center;
  display: flex;
}
@media (max-width: 600px) {
  .header-buttons {
    flex-direction: column;
  }
}
.header-buttons__button {
  font-size: 22px;
  line-height: 30px;
  color: #093cb5;
  border: none;
  background-color: #fff;
  margin-right: 93px;
  padding: 32px 64px;
  cursor: pointer;
}
@media (max-width: 720px) {
  .header-buttons__button {
    padding: 20px 50px;
    margin-right: 20px;
  }
}
@media (max-width: 600px) {
  .header-buttons__button {
    margin: 0;
    font-size: 16px;
    margin: auto;
    margin-bottom: 40px;
  }
}
.header-buttons__button:last-child {
  margin-right: 0;
}

.button-phone {
  align-items: center;
  display: inline-flex;
  margin: 0;
}
.button-phone img {
  margin-right: 12px;
}

@media (max-width: 2200px) {
  .header-image {
    display: none;
  }
}
.header-image__img img {
  position: absolute;
  top: -300px;
  right: -220px;
  z-index: -1;
}
.header-desc {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #031641;
  border-radius: 32px;
  padding: 32px;
  max-width: 294px;
  max-height: 294px;
}
@media (max-width: 2200px) {
  .header-desc {
    display: none;
  }
}
.header-desc__title {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 0 0 14px 0;
}
.header-desc__subtitle {
  font-size: 22px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  margin-bottom: 45px;
}

@media (max-width: 720px) {
  .about {
    padding-top: 150px;
  }
}
@media (max-width: 450px) {
  .about {
    padding-top: 120px;
  }
}
.about-block {
  padding: 100px 100px 120px 100px;
  background-image: linear-gradient(to top, #062a80 0%, #020b23 100%);
  border-radius: 100px;
}
@media (max-width: 720px) {
  .about-block {
    padding: 70px;
    padding-bottom: 90px;
  }
}
@media (max-width: 450px) {
  .about-block {
    padding: 20px;
    border-radius: 50px;
  }
}
.about-block__title {
  color: #fff;
  margin: 0;
  margin-bottom: 150px;
}
@media (max-width: 720px) {
  .about-block__title {
    margin-bottom: 80px;
    font-size: 50px;
  }
}
@media (max-width: 450px) {
  .about-block__title {
    margin-bottom: 65px;
    font-size: 28px;
  }
}
.about-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  .about-wrap {
    flex-direction: column;
  }
}
.about-wrap__item {
  max-width: 440px;
}
@media (max-width: 1600px) {
  .about-wrap__item {
    margin-bottom: 70px;
  }
}
@media (max-width: 450px) {
  .about-wrap__item {
    max-width: 300px;
  }
}
.about-wrap__icon {
  width: 72px;
  height: 72px;
  margin-bottom: 40px;
}
@media (max-width: 450px) {
  .about-wrap__icon {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .about-wrap__icon img {
    width: 65px;
  }
}
@media (max-width: 450px) {
  .about-wrap__icon img {
    width: 58px;
  }
}
.about-wrap__text {
  font-size: 36px;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: rgba(251, 251, 251, 0.45);
}
@media (max-width: 720px) {
  .about-wrap__text {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 450px) {
  .about-wrap__text {
    font-size: 16px;
    line-height: 24px;
  }
}
.about-wrap__text strong {
  color: #fbfbfb;
}
@media (max-width: 450px) {
  .about-wrap__text strong {
    font-size: 18px;
  }
}

.offer {
  padding: 150px 0;
}
@media (max-width: 720px) {
  .offer {
    padding: 100px 0 50px 0;
  }
}
.offer__title {
  color: #000;
  margin: 0;
}
@media (max-width: 1750px) {
  .offer__title {
    text-align: center;
  }
}
@media (max-width: 720px) {
  .offer__title {
    font-size: 50px;
  }
}
@media (max-width: 450px) {
  .offer__title {
    font-size: 28px;
  }
}
.offer-item {
  margin-right: 35px;
  justify-content: center;
}
.offer-item:last-child {
  margin-right: 0;
}
@media (max-width: 760px) {
  .offer-item {
    margin-right: 0;
  }
}
.offer-block {
  display: flex;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background-color: #fbfbfb;
  transition: 0.2s;
  padding: 45px;
}
@media (max-width: 1800px) {
  .offer-block {
    margin-bottom: 60px;
  }
}
@media (max-width: 1700px) {
  .offer-block {
    justify-content: space-between;
  }
}
@media (max-width: 760px) {
  .offer-block {
    flex-direction: column;
  }
}
.offer-block:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}
.offer-text {
  flex-basis: 50%;
  max-width: 300px;
  margin-right: 90px;
}
@media (max-width: 760px) {
  .offer-text {
    margin-bottom: 70px;
    margin-right: 0;
  }
}
.offer-text__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (max-width: 720px) {
  .offer-text__title {
    font-size: 28px;
  }
}
@media (max-width: 450px) {
  .offer-text__title {
    font-size: 24px;
    line-height: 32px;
  }
}
.offer-text__desc {
  font-size: 22px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.65);
  display: block;
  margin-bottom: 60px;
}
@media (max-width: 720px) {
  .offer-text__desc {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 450px) {
  .offer-text__desc {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 350px) {
  .offer-text__desc {
    font-size: 14px;
  }
}
.offer-text__button {
  padding: 26px 38px 22px 24px;
  background-color: #093cb5;
  border-radius: 28px;
  border: none;
  cursor: pointer;
}
.offer-text__button strong {
  font-size: 36px;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 720px) {
  .offer-text__button strong {
    font-size: 28px;
  }
}
@media (max-width: 450px) {
  .offer-text__button strong {
    font-size: 24px;
  }
}
.offer-text__buy {
  align-items: center;
  display: flex;
  margin-bottom: 12px;
}
.offer-text__buy img {
  margin-right: 11px;
}
.offer-text__buy span {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media (max-width: 720px) {
  .offer-text__buy span {
    font-size: 16px;
  }
}
.offer-image {
  flex-basis: 50%;
  position: relative;
}
.offer-image__card {
  padding: 17px;
  font-size: 22px;
  line-height: 30px;
  border-radius: 20px;
  background-color: #ff7474;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  position: absolute;
  top: 30px;
  right: 0;
}
@media (max-width: 900px) {
  .offer-image__card {
    top: 0;
    right: 0;
  }
}
@media (max-width: 720px) {
  .offer-image__card {
    font-size: 18px;
    padding: 14px;
  }
}
@media (max-width: 450px) {
  .offer-image__card {
    font-size: 16px;
    padding: 10px;
  }
}
@media (max-width: 900px) {
  .offer-image__img img {
    max-width: 270px;
    max-height: 450px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@media (max-width: 720px) {
  .offer-image__img img {
    max-width: 240px;
  }
}
@media (max-width: 450px) {
  .offer-image__img img {
    max-width: 200px;
  }
}

.arrows {
  max-width: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 117px;
  margin-left: auto;
}
@media (max-width: 450px) {
  .arrows {
    margin-bottom: 40px;
  }
}
@media (max-width: 760px) {
  .arrows {
    margin: auto;
    margin-bottom: 40px;
    margin-top: 60px;
  }
}
@media (max-width: 720px) {
  .arrows {
    margin-top: 40px;
  }
}
@media (max-width: 450px) {
  .arrows {
    margin-top: 15px;
  }
}

.arrows__right, .arrows__left {
  cursor: pointer;
}

.opinion {
  padding: 100px 0 300px 0;
}
@media (max-width: 720px) {
  .opinion {
    padding: 50px 0 80px 0;
  }
}
.opinion-block {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1800px) {
  .opinion-block {
    flex-direction: column;
    position: static;
  }
}
.opinion-desc {
  width: 30%;
}
@media (max-width: 1800px) {
  .opinion-desc {
    margin: auto;
    margin-bottom: 100px;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .opinion-desc {
    margin-bottom: 65px;
  }
}
.opinion-desc__title {
  margin: 0;
  margin-bottom: 380px;
}
@media (max-width: 1800px) {
  .opinion-desc__title {
    text-align: center;
    margin-bottom: 200px;
  }
}
@media (max-width: 1800px) and (max-width: 720px) {
  .opinion-desc__title {
    font-size: 50px;
    margin-bottom: 100px;
    line-height: 60px;
  }
}
@media (max-width: 1800px) and (max-width: 600px) {
  .opinion-desc__title {
    font-size: 50px;
  }
}
@media (max-width: 1800px) and (max-width: 450px) {
  .opinion-desc__title {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 60px;
  }
}
.opinion-slider {
  width: 70%;
}
@media (max-width: 1800px) {
  .opinion-slider {
    width: 100%;
  }
}
@media (max-width: 1800px) {
  .opinion-name {
    text-align: center;
  }
}
.opinion-name__subtitle {
  font-size: 22px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.65);
  display: block;
  margin-bottom: 8px;
}
@media (max-width: 720px) {
  .opinion-name__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .opinion-name__subtitle {
    margin: 0;
  }
}
.opinion-name__title {
  font-size: 36px;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 720px) {
  .opinion-name__title {
    font-size: 20px;
  }
}
.opinion-item {
  display: flex;
}
@media (max-width: 1800px) {
  .opinion-item {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
}
.opinion-image {
  width: 472px;
  margin-right: 85px;
}
@media (max-width: 1800px) {
  .opinion-image {
    margin-bottom: 100px;
    margin-right: 0;
  }
}
@media (max-width: 720px) {
  .opinion-image {
    width: 300px;
  }
}
@media (max-width: 450px) {
  .opinion-image {
    width: 250px;
    margin-bottom: 60px;
  }
}
@media (max-width: 720px) {
  .opinion-image__img img {
    width: 300px;
  }
}
@media (max-width: 450px) {
  .opinion-image__img img {
    width: 250px;
  }
}
.opinion-text__opinion {
  font-size: 36px;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.45);
  margin: 0;
  margin-bottom: 120px;
}
@media (max-width: 720px) {
  .opinion-text__opinion {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 80px;
  }
}
@media (max-width: 600px) {
  .opinion-text__opinion {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 450px) {
  .opinion-text__opinion {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 50px;
  }
}
.opinion-text__opinion strong {
  color: #000;
}
.opinion-text__author {
  font-size: 22px;
  line-height: 30px;
  color: #000;
}
@media (max-width: 1800px) {
  .opinion-text__author {
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 150px;
  }
}
@media (max-width: 720px) {
  .opinion-text__author {
    margin-top: 100px;
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 450px) {
  .opinion-text__author {
    font-size: 16px;
    line-height: 23px;
    margin-top: 70px;
  }
}
.opinion-arrows {
  display: flex;
  max-width: 100px;
  justify-content: space-between;
  position: absolute;
  right: 575px;
  top: 360px;
  z-index: 999;
}
@media (max-width: 1800px) {
  .opinion-arrows {
    position: static;
    margin: auto;
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  .opinion-arrows {
    margin-bottom: 15px;
  }
}

.footer {
  padding: 80px 0;
  background-color: #f6f6f6;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1450px) {
  .footer-wrap {
    flex-direction: column;
  }
}
@media (max-width: 1450px) {
  .footer-item {
    margin-bottom: 75px;
  }
}
.footer-item__logo {
  margin-bottom: 180px;
}
@media (max-width: 1450px) {
  .footer-item__logo {
    margin-bottom: 30px;
  }
}
.footer-item__link {
  text-decoration: none;
  font-size: 22px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.35);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
@media (max-width: 600px) {
  .footer-item__link {
    font-size: 16px;
  }
}
.footer-item__title {
  font-size: 22px;
  line-height: 30px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
}
@media (max-width: 600px) {
  .footer-item__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.footer-item__text {
  font-size: 22px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.65);
  display: block;
  text-decoration: none;
}
@media (max-width: 1450px) {
  .footer-item__text {
    margin-bottom: 0;
    line-height: 35px;
  }
}
@media (max-width: 600px) {
  .footer-item__text {
    font-size: 16px;
    line-height: 22px;
  }
}
.footer-item__email {
  font-size: 22px;
  line-height: 30px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 0;
  margin-bottom: 26px;
  text-decoration: none;
  display: block;
}
@media (max-width: 600px) {
  .footer-item__email {
    font-size: 18px;
  }
}
.footer-item__socials a {
  margin-right: 24px;
}/*# sourceMappingURL=style.css.map */